<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DFlood.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DFlood.cfg" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <DFlood.Properties.Settings>
            <setting name="IsSecureMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsUnlimitedFlood" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsTopMost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinInterval" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxInvertal" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FloodNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsDeleteAfter" serializeAs="String">
                <value />
            </setting>
        </DFlood.Properties.Settings>
        <DFlood.cfg>
            <setting name="secureModeChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="unlimitedFloodChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="topmostChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="msgSenderMinValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="msgSendeMaxValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="deleteAfterChecked" serializeAs="String">
                <value>False</value>
            </setting>
        </DFlood.cfg>
    </userSettings>
</configuration>